{% extends "base_shapeeditor.html" %}
{% block content %}
<div class="span12">

<div class="note">
Poster information
</div>




<h1>Introduction</h1>
	<p>Shapefile, is a popular geospatial vector data format for geographic information system software. It is developed and regulated by Esri as a (mostly) open specification for data interoperability among Esri and other GIS software products. Shapefiles spatially describe vector features: points, lines, and polygons, representing, for example, water wells, rivers, and lakes. 
While it is easy enough to edit the attributes associated with a shape file's features, editing the features themselves is a lot more complicated. One approach would be to install a GIS system  such as ArcGIS or qGIS  and use it to import the data, make changes, and then export the data into another shape file. While this works, it is hardly convenient if all you want to do is make a few changes to a shape file's features. 

There is a number of Web mapping applications that allow to visualize shapefiles. Examples are:
<ul>
<li>Esri Shpaefile viewer  allows to visualize and query ESRI Shapefile datasets referenced in the DATA.gov web site.</li>
<li>MapShaper.org. Macromedia Flash-based WYSIWYG(“what  you see is what you get”) map generalization Web service for real-time generalizing and editing of vector map data. It offers line and shape simplification and smoothing. Users can upload map files, perform generalization operations, and export and download their work. </li>
</ul>
It is difficult to find a web application specifically designed for editing  feature’s geometry . The availability of such free Web applications may help break down many of the long-standing barriers to the public use of geospatial technologies and give anyone with access to an Internet-enable computer or mobile device ability  not only to display  but also ability to edit geospatial data stored in shaped files.</p>

<h1> Tools and libraries used </h1>
<p>
<ul>
 <li>Python is an open-source programming language. It doesn’t have anything to do with GIS itself, but has become one of the key languages to use for GIS.</li> 

 <li>GeoDjango is a free and open source web application framework, written in Python, which follows the model–view–controller architectural pattern. Its goal to make it as easy as possible to build GIS Web applications.</li>

 <li> PostGIS is a spatial database extender for PostgreSQL object-relational database. It adds support for geographic objects allowing location queries to be run in SQL. </li>

<li>  Geospatial Data Abstraction Library(GDAL) /OGR Simple Features Library  are used for reading and writing raster  and vector geospatial data formats </li>

<li> Pyproj  is a Python "wrapper" around another library called PROJ.4. "PROJ.4" is an abbreviation for Version 4 of the PROJ library. PROJ was originally written by the US Geological Survey for dealing with map projections, and has been widely used in geospatial software for many years. The pyproj library makes it possible to access the functionality of PROJ.4 from within your Python programs.</li>
<li> Mapnik is a freely-available toolkit for building mapping applications. It takes geospatial data from a PostGIS database, shapefile, or any other format supported by GDAL/OGR, and turns it into clearly-rendered, good-looking images. </li>
<li>  OpenLayers is a a pure JavaScript library for displaying map data in most modern web browsers, with no server-side dependencies. OpenLayers implements a JavaScript API for building rich web-based geographic applications. </li>
</ul>
</p>

<h1> ShapeEditor’s components </h1>
<ul>
 <li>User signup and login. It  uses Gjango built-in admin authentication system and allows to each user has his or her own private set of shapefiles.</li> 

<li> Importing the geometrical features, attributes and attribute values from a shapefile. Importer uploads ZIP archive, decompressed the archive,  extract s the individual files that make up the shapefile, read through the shapefile to find its attributes, and create the appropriate Attribute objects,  Feature and AttributeValue objects. Each imported shapefile is represented by a single Shapefile object in the database and has id of the user who uploaded it </li>

<li> Displaying information stored in shapefiles  and selecting a feature to be edited. Tile Map Server (TMS) is built on top of a Mapnik-based map renderer to display the shapefile's features stored in the database. OpenLayers uses it as a source of map tiles to display.  JavaScript “Click handler“  intercepts clicks on the map and sends off an AJAX request to the server to see which feature the user clicked on. If the user does click on a feature, the user's web browser is redirected to the "Edit Feature" page so that the user can edit the clicked-on feature (See Image 1) </li>

<li> Displaying the editor to allow the user to edit the feature's geometry. GeoDjango's built-in geometry editing widget is used for implementing  this part of the project. Edit feature also allows user to delete feature, add new ones and edit attributes’ values. (See Image  2) </li>

<li> Exporting the geometrical features and attributes back into a shapefile.  Exporter creates a new shapefile on disk, defines the various attributes that will be stored in the shapefile, processes all the features and their attributes, writing them out to the shapefile, creates a ZIP archive from the contents of the shapefile, and tells the user's web browser to download that ZIP archive to the user's hard disk.
</li>
</ul>
</p>

<h1>Conclusions </h1>
<p>
Shape Editor  web based application is a convenient way to work with geospatial data. It is hoped that after final debugging and deployment this application will help people quickly solve minor shapefiles editing challenges without spending money and time on commercial software and installation.  It is not aimed to substitute existing complex desktop applications but can be very useful for making quick minor changes .

As any new application Shape Editor still requires more testing and debugging. There are a lot  of ways in which the Shape Editor  application could be improved. The most important  are improving user experience design, adding support for displaying multiple shapefiles at once, support for performing spatial queries and choice of base maps
</p>

<h1>References</h1>
<p>
<ol>
 <li>Erik Westa. Python Geospatial Development. 2nd edition. Birmingham. 2013.</li>
 <li>Bloch, Matthew, and Mark Harrower. "MapShaper. org: A map generalization web service." Proceedings of AUTOCARTO 2006 (2006).)</li>
 <li>GeoDjango Tutorial (https://docs.djangoproject.com) </li>
 <li>Python Django Tutorial (http://www.mikesdjangotutorials.co.uk/) </li>
 <li>PostGIS (http://postgis.net/) </li>
</p>
{% endblock %}
