{% extends "base_shapeeditor.html" %}
{% block content %}
<div class="span12">
<h1>Add attribute value</h1>
  
<form enctype="multipart/form-data" action="" method="post" id="add_attributevalue_form">
	
      <label>Feature ID: {{ feature }} </label>
{% if attributes %}
      <label> Attribute:  
	<select name="attribute"> 
		{% for attr in attributes %}
         <option value="{{ attr.1 }}">{{ attr.0 }}</option>
		{% endfor %}
	</select>
 </label>

      <label for="id_value">Value: <input class="vTextField" maxlength="255" name="attribute_value" type="text" value="{{ value }}" /></label>

       <button type="button" class="btn btn-primary" onClick='window.location="/editor/edit_feature/{{ shapefile }}/{{ feature }}";'/>Back to Feature</button>
 <input type="submit" class="btn btn-primary" value="Add"/>

{% else %}
<br/><label>All attributes are set</label>

      <br/> <button type="button" class="btn btn-primary" onClick='window.location="/editor/edit_feature/{{ shapefile }}/{{ feature }}";'/>Back to Feature</button>
{% endif %} 
</form>

</div>
{% endblock %}
